= render "shared/carousel"
.row
  .col-sm-3.col-md-2
    = render "shared/sidebar"

  .col-sm-6.col-md-6
    %h1 Rails with Bootstrap: Front End
    %p This is a Home page of a Front prototype based on Bootstrap.

    %p
      Source:
      %a{:href =>"http://www.w3schools.com/bootstrap/"} Bootstrap 3 Tutorial

    %h4 Navigation Bar, including features:
    %ul
      %li Bar on the top
      %li Menu
      %li DropDown Menu
      %li Collapsing Bar
      %li Localization adapted from Ror4 App
      %ls Search Form

    %h4
      Carousel (Slideshow)
    %p
      %a{:href => "http://www.w3schools.com/bootstrap/bootstrap_ref_js_carousel.asp"} Bootstrap JS Carousel Reference

    %ul
      %li Carousel Example
      %li Captions to Slides

    %h4 Side Bar
    %ul
      %li Simple sample
      %li DropDown menu added
      %li Sidebar with toggle - TBD

    %h4 Breadcrumbs - TBD

    %h4 Footer - TBD

    %h4 Miscellaneous
    %ul
      %li Glyphicon with link_to (Home)